.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


.container{
    display: grid;
    grid-template-columns: repeat(autofit,minmax(1fr,2fr));
    grid-template-areas: 
    "header header"
    "content1 content2";
    
}
#header{
    width: 100vw;
    grid-column-start: 1;
    grid-column-end: -1;
    
}
