.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


.container{
    display: grid;
    grid-template-columns: repeat(autofit,minmax(1fr,2fr));
    grid-template-areas: 
    "header header"
    "content1 content2";
    grid-auto-rows: 1fr;
    height: 100vh;
}
#header{
    width: 100vw;
    grid-column-start: 1;
    grid-column-end: -1;
}
#content1{
    width: 50vw;
}
#content2{
    width: 50vw;
}


@media only screen and (max-width: 620px){
    #content1{
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    #content2{
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: -1;
    }
}
